
.right{
    width: 90%;
}
.main{
    margin: 20px auto;
    padding: 20px;
}

#topright,#w{
    color: white;
    font-size: 17px;
    float: right;
    margin-right: 20px;
}
#line{
    text-decoration-line: underline;
    background-color: gainsboro;
}
p{
    font-size: 16px;
    padding-left: 12px;
}
#wrapper {
    max-width: 1000px;
    margin: 18px auto;
    padding: 13px;
    box-shadow: 0 0 10px #A9A9A9;
}
/*加减按钮*/
.minus-btn,
.plus-btn {
    width: 30px;
    height: 30px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    color: #fff;
}
/* 数据*/
.quantity-display {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}